body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#board {

    height: 500px;
    width: 560px;

    background-color: blue;
    border: 10px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    

}

.tile {
height: 60px;
width: 60px;
margin: 5px;

background-color: white;
border-radius: 50%;
border: 5px solid black;

}

.red-piece {

    background-color: red;
}

.yellow-piece {

    background-color: yellow;
}